<a href="https://colab.research.google.com/github/evanzs/curso-spark/blob/master/RDD_operacoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

# configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

# tornar o pyspark "importável"
import findspark
findspark.init('spark-3.5.1-bin-hadoop3')


from pyspark.sql import SparkSession

**Trabalhando com RDD**
**Utulizando operações**

In [2]:
## Criando RDD
sc =SparkSession.builder.appName('teste').getOrCreate();
numeros = sc.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,10])

LISTAGEM E AMOSTRAGEM DE RDD

In [3]:
## Listagem
numeros.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
## listando apenas 4
print(numeros.take(4))

## listando 4 ultimos
print("listando 4 ultimos: ",numeros.top(4))

[1, 2, 3, 4]
listando 4 ultimos:  [10, 9, 8, 7]

**OPERACOES ARITIMÉTICAS**

```
# This is formatted as code
```

In [5]:
# SOma:
print("soma dos valores: ", numeros.sum())

# Média:
print("média dos valores: ", numeros.mean())

# maximo:
print("maximo dos valores: ", numeros.max())

# Minimo:
print("minimo dos valores: ", numeros.min())

# STD
# Média:
print("STD dos valores: ", numeros.stdev())

soma dos valores:  55
média dos valores:  5.5
maximo dos valores:  10
minimo dos valores:  1
STD dos valores:  2.8722813232690143

**TRABALHANDO COM FILTRAGEM**

In [7]:
novoNumero = numeros.filter(lambda x: x > 2)
novoNumero.collect()

[3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
## amostra com reposição
## Geralndo uma mmostra
#- True = com reposição
#- 0.5 = changes do numero fazer parte dessa amostra
amostra = numeros.sample(True,0.5,1)


amostra.collect()

[2, 3, 4, 5, 8, 10, 10, 10, 10]

In [12]:
## utulizando .map para aplicação de função
print(numeros.collect())

map = numeros.map(lambda x: x > 2)
print("x > 2: ", map.collect())

map = numeros.map(lambda x: x**2)
print("potencia: ", map.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x > 2:  [False, False, True, True, True, True, True, True, True, True]
potencia:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**TRABALHANDO COM OPERACOES ENTRE CONJUNTOS**

In [13]:
A = sc.sparkContext.parallelize([1,2,3,4,5])
B = sc.sparkContext.parallelize([5,6,7,8,9,10])

In [24]:
print("A: ", A.collect())
print("B: ", B.collect())

print("União:", )
print("A U B : ", (A.union(B)).collect())
print("B U A : ", (B.union(A)).collect())


print("Intersecção:", )
print("A ^ B : ", (A.intersection(B)).collect())
print("B ^ A : ", (B.intersection(A)).collect())


print("subtração: (elementos que tem em A e não tem em B e vice versa)" )
print("A - B : ", (A.subtract(B)).collect())
print("B - A : ", (B.subtract(A)).collect())


print("cartesiano:", )
print("A ^ B : ", (A.cartesian(B)).collect())
print("B ^ A : ", (B.cartesian(A)).collect())


## "countByValue": conta por valor o numero de vezes que cada elemento aparece
cartesiano = B.cartesian(A)
print("countByValue: ",cartesiano.countByValue() )

A:  [1, 2, 3, 4, 5]
B:  [5, 6, 7, 8, 9, 10]
União:
A U B :  [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]
B U A :  [5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
Intersecção:
A ^ B :  [5]
B ^ A :  [5]
subtração: (elementos que tem em A e não tem em B e vice versa)
A - B :  [4, 1, 2, 3]
B - A :  [8, 9, 6, 10, 7]
cartesiano:
A ^ B :  [(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (1, 8), (1, 9), (1, 10), (2, 8), (2, 9), (2, 10), (3, 5), (3, 6), (3, 7), (4, 5), (4, 6), (4, 7), (5, 5), (5, 6), (5, 7), (3, 8), (3, 9), (3, 10), (4, 8), (4, 9), (4, 10), (5, 8), (5, 9), (5, 10)]
B ^ A :  [(5, 1), (5, 2), (6, 1), (6, 2), (7, 1), (7, 2), (5, 3), (5, 4), (6, 3), (6, 4), (7, 3), (7, 4), (5, 5), (6, 5), (7, 5), (8, 1), (8, 2), (9, 1), (9, 2), (10, 1), (10, 2), (8, 3), (8, 4), (9, 3), (9, 4), (10, 3), (10, 4), (8, 5), (9, 5), (10, 5)]
countByValue:  defaultdict(<class 'int'>, {(5, 1): 1, (5, 2): 1, (6, 1): 1, (6, 2): 1, (7, 1): 1, (7, 2): 1, (5, 3): 1, (5, 4): 1, (6, 3): 1, (6, 4): 1, (7, 3): 1, (7, 4): 1, (5, 5): 1, (6, 5): 1, (7, 5): 1, (8, 1): 1, (8, 2): 1, (9, 1): 1, (9, 2): 1, (10, 1): 1, (10, 2): 1, (8, 3): 1, (8, 4): 1, (9, 3): 1, (9, 4): 1, (10, 3): 1, (10, 4): 1, (8, 5): 1, (9, 5): 1, (10, 5): 1})

**CRIANDO RDD MAIS COMPLEXOS COM CHAVE E VALORES**

In [38]:
#compras, codigo do cliente e valor
# primeiro valor seria o ID do cliente
# segundo valor seria o valor da compra
compras = sc.sparkContext.parallelize([(1,200),(2,300),(3,120),(4,250),(5,78)])

#debitos, codigo cliente e valor
debitos = sc.sparkContext.parallelize([(1,20),(2,300)])
# primeiro valor seria o ID do cliente
# segundo valor seria o valor do debito


print("listando apenas as chaves: ")
print(compras.keys().collect())


print("\nlistando apenas os valores: ")
print(compras.values().collect())


print("Conta elementos por chaves: ")
print(compras.countByKey())

print("Conta elementos por valor: ")
print(compras.countByValue())


print("Aplicando funcoes no RDD sem alterar chaves: ")
somaUm = compras.mapValues(lambda  x: x+1)
print(somaUm.collect())


print("Agrupando por chaves: ")
agrupa = compras.groupByKey()
print(agrupa.mapValues(list).collect())

print("inner join entre compra e debito: ")
join = compras.join(debitos)
print(join.collect())


print("remove todos com debitos: ")
semDebito = compras.subtractByKey(debitos)
print(semDebito.collect())

listando apenas as chaves:
[1, 2, 3, 4, 5]

listando apenas os valores:
[200, 300, 120, 250, 78]
Conta elementos por chaves:
defaultdict(<class 'int'>, {1: 1, 2: 1, 3: 1, 4: 1, 5: 1})
Conta elementos por valor:
defaultdict(<class 'int'>, {(1, 200): 1, (2, 300): 1, (3, 120): 1, (4, 250): 1, (5, 78): 1})
Aplicando funcoes no RDD sem alterar chaves:
[(1, 201), (2, 301), (3, 121), (4, 251), (5, 79)]
Agrupando por chaves:
[(2, [300]), (4, [250]), (1, [200]), (3, [120]), (5, [78])]
inner join entre compra e debito:
[(1, (200, 20)), (2, (300, 300))]
remove todos com debitos:
[(4, 250), (5, 78), (3, 120)]

In [37]:
print("remove todos com debitos: ")
semDebito = compras.subtractByKey(debitos)
print(semDebito.collect())

remove todos com debitos:
[(4, 250), (5, 78), (3, 120)]